<main class="main-content">
    <table class="table-content" >
        <tr class="row1">
            <th class="column0"></th>
            <th class="on-left column1">USUÁRIO</th>
            <th class="on-left column2">EMAIL</th>
            <th class="column3">DATA DE INCLUSÃO</th>
            <th class="column4">DATA DE ALTERAÇÃO</th>
            <th class="column5">REGRAS</th>
            <th class="column6 on-left">STATUS</th>
            <th class="column7">AÇÕES</th>
        </tr>
        <tr class="row2">
            <td><input type="checkbox"></td>
            <td class="on-left">ANPINA</td>
            <td class="on-left">antonio.pina@tvglobo.com.br</td>
            <td>28/05/2019</td>
            <td>30/05/2019</td>
            <td>01</td>
            <td class="on-left text-success">ATIVO</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></td>
        </tr>
        <tr class="row3">
            <td><input type="checkbox"></td>
            <td class="on-left">CCHANG</td>
            <td class="on-left">ciro.chang@tvglobo.com.br</td>
            <td>28/05/2019</td>
            <td>30/05/2019</td>
            <td>01</td>
            <td class="on-left text-success">ATIVO</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></td>
        </tr>
        <tr class="row4">
            <td><input type="checkbox"></td>
            <td class="on-left">TMARCAL</td>
            <td class="on-left">thiago.marcal@tvglobo.com.br</td>
            <td>28/05/2019</td>
            <td>30/05/2019</td>
            <td>01</td>
            <td class="on-left text-success">ATIVO</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></td>
        </tr>
        <tr class="row5">
            <td><input type="checkbox"></td>
            <td class="on-left">ECGIANN</td>
            <td class="on-left">ecgiannotto@tvglobo.com.br</td>
            <td>28/05/2019</td>
            <td>30/05/2019</td>
            <td>01</td>
            <td class="on-left text-success">ATIVO</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></td>
        </tr>
        <tr class="row6" onmouseup="showOcultRow()">
            <td><input type="checkbox"></td>
            <td class="on-left">YFERNAND</td>
            <td class="on-left">yuri.vasquez@tvglobo.com.br</td>
            <td>28/05/2019</td>
            <td>30/05/2019</td>
            <td>02</td>
            <td class="on-left text-success">ATIVO</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></td>
        </tr>
        <tr class="row7" >
            <td><input type="checkbox"></td>
            <td class="on-left">PLACERDA</td>
            <td class="on-left">pedro.soares.lacerda@tvglobo.com.br</td>
            <td>28/05/2019</td>
            <td>30/05/2019</td>
            <td>02</td>
            <td class="on-left text-success">ATIVO</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></td>
        </tr>
            <tr class="ocult-row collapse" id="ocult-row" onmouseup="closeOcultRow()">
                <td class="d-flex justify-content-end td-ocult-row">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
                </td>
            </tr>
        </a>
    </table>
    <nav class="nav-pag">
        <ul class="pagination justify-content-center">
          <li><a class="box-pag-left" href="#" tabindex="-1">Primeiro</a></li>
          <li><a class="box-pag-left" href="#">Anterior</a></li>
          <li><a class="pag-active" href="#">1</a></li>
          <li><a class="box-pag-right" href="#">Próximo</a></li>
          <li><a class="box-pag-right" href="#">Último</a></li>
        </ul>
    </nav>
</main>